<div class="container">
  <div class='articles text-center'>
    <% @articles.each do |article| %>
      <article class='my-3'>
        <h2 ><%= link_to article.title, article%></h2>
        <%= article.content[0..100] %>
      </article>
    <% end %>
  </div>
</div>
