<div class='container'>
  <h1 class='text-center mt-2'>NEW ARTICLE</h1>
  <form>
    <%= simple_form_for(@article) do |f| %>
      <%= f.input :title %>
      <%= f.input :content,
            label: "Content",
            data: { editor: 'markdown' },
            rows: 10,
            class: "form-control",
            id: "exampleTextarea" %>
      <%= f.submit class: 'btn btn-primary my-4' %>
    <% end %>
    <div>
      <label for="exampleTextarea" class="form-label mt-4">Content</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
  </form>
</div>
