<div class="footer d-flex justify-content-start" style="padding-left: 20px;">
  <div class="footer-links">
    <a href="https://github.com/HmoriKLTA"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/hayao-mori/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright" style='padding-left: 20px;' >
    <p>Made By Hayao @HMoriKLTA</p>
  </div>
</div>
